.game__area {
	width: 100%;
	max-width: 500px;
	position: relative;
	border:  2px solid black;
	display: block;
	background-color: rgba(222, 222, 222, 0.5);
}

.game__area.shaking {
	animation: shaking linear .2s infinite;
}

.game__area.flicker {	
	animation: flicker linear 2s infinite;
}

.game__area.pause {
	opacity: 0.5;
}

.game__over-mask {
	position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.game__over {
	max-width: 500px;
	padding: 20px;
	text-align: center;
  border-radius: 5px;
  background-color: rgb(229, 218, 195);
  margin: 0 auto;
	transform: translateY(100px);
}

.game__over-text {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
}

.game__over-result {
	line-height: 1.5;
	margin-top: 0;
	font-size: 18px;
}

@keyframes flicker {
	0% {
		opacity: 1;
	}

	25% {
		opacity: 0;
	}

	50% {
		opacity: 0;
	}

	75% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes shaking {
	50% {
		transform: translateX(15px);
	}
}

@media (max-width: 992px) {
	.game__over-text {
		margin: 15px 0;
	}
}

@media (max-width: 540px) {
	.game__over-mask {
		padding: 20px;
	}

	.game__over-text {
		margin: 10px 0;
		font-size: 22px;
	}

	.game__over-result {
		font-size: 16px;
	}
}
