.header__title {
	color: FireBrick;
	text-align: center;
	margin: 20px auto 30px;
	font-weight: 900;
}

.header__title-online {
	color: goldenrod;
}

.header__obstacle {
	margin-top: 0;
	text-align: center;
	font-size: 26px;
}

@media (max-width: 1700px) {
	.header__obstacle {
		font-size: 24px;
	}
}

@media (max-width: 992px) {
	.header__title {
		margin-bottom: 20px;
	}

	.header__obstacle {
		font-size: 24px;
		margin-bottom: 20px;
	}
}

@media (max-width: 740px) {
	.header__title {
		font-size: 30px;
	}

	.header__obstacle {
		font-size: 22px;
		margin-bottom: 10px;
	}
}