.setting__block {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	grid-area: 'settings';
}

.setting__sound, .setting__music, .setting__pause {
	padding: 0;
	display: flex;
	border: none;
	color:  lightseagreen;
	background-color: transparent;
	cursor: pointer;
}

.setting__sound:hover, .setting__music:hover, .setting__pause:hover  {
	color:  rgb(27, 149, 143);
}