.setting__block {
	max-width: 200px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	grid-area: 'settings';
}

.setting__sound, .setting__music, .setting__pause {
	padding: 0;
	display: flex;
	border: none;
	color:  lightseagreen;
	background-color: transparent;
	cursor: pointer;
	outline: none;
}

.setting__sound:hover, .setting__music:hover, .setting__pause:hover  {
	color:  rgb(27, 149, 143);
}

@media (max-width: 540px) {
	.setting__block {
		flex-direction: column;
		gap: 10px;
		align-items: flex-start;
	}
}