h1 {
	text-align: center;
	margin-bottom: 50px;
}

span {
	font-weight: 900;
}

body {
	font-family: sans-serif;
}

.container {
	display: grid;
	gap: 50px;
	align-items: flex-start;
	grid-template-areas: 
	'game settings'
	'game next'
	'game score';
	width: 500px;
	margin: 0 auto;
}

.game-area {
	border:  2px solid black;
	display: block;
}

.preview {
	border: 3px solid black;
	font-size: 18px;
	text-align: center;
	padding: 30px;
	grid-column: 1 / 3;
}

.preview__btn {
	padding: 10px 30px;
	border-radius: 10px;
	font-size: 16px;
	background-color: #fff;
	cursor: pointer;
}

.preview__text {
	font-size: 23px;
}

.setting__block {
	grid-area: 'settings';
}

.setting__pause {
	margin: 0 auto;
	padding: 10px;
	cursor: pointer;
	background-color: inherit;
	border: none;
}

.game__over-mask {
	position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.game__over {
	width: 500px;
	padding: 20px;
	text-align: center;
  border-radius: 5px;
  background: #fff;
  margin: 0 auto;
	transform: translateY(100px);
}

.game__over-text {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
}

.game__over-result {
	font-size: 18px;
}

.game__over-btn {
	padding: 10px 30px;
	border-radius: 10px;
	font-size: 16px;
	background-color: #fff;
	cursor: pointer;
}
