html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

h1, h2, h3, h5, h6 {
	font-family: inherit;
}

body {
	background-color: rgb(229, 218, 195);
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
	text-decoration: none;
	color: inherit;
}

.container {
	width: 100%;
	max-width: 500px;
	display: grid;
	gap: 50px;
	align-items: flex-start;
	grid-template-areas: 
	'game settings'
	'game next'
	'game score';
	margin: 0 auto;
	margin-bottom: 30px;
}

.score__block {
	border: 2px solid black;
	font-size: 18px;
	padding: 20px;
	grid-area: score;
	max-width: 200px;
}

.score__block-text {
	margin-top: 0;
}

.score__block-text:last-child {
	margin-bottom: 0;
}

.next__block {
	border: 2px solid black;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px;
	grid-area: next;
}	

.canvas__tetro {
	max-width: 90px;
	max-height: 90px;
}

.btn {
	font-family: inherit;
	padding: 10px 30px;
	border-radius: 10px;
	font-size: 18px;
	background-color: gold;
	cursor: pointer;
	border: 1px solid #333;
	box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
	transition: background-color .1s linear;
}

.btn:hover {
	background-color: rgb(224, 191, 2);
}

@media (max-width: 1200px) {
	.container {
		gap: 80px;
	}

	.score__block {
		font-size: 16px;
	}
}

@media (max-width: 540px) {
	.container {
		padding: 10px;
		gap: 25px;
		max-width: 400px;
	}

	.score__block {
		border-width: 1px;
		padding: 10px;
		font-size: 14px;
	}

	.next__block {
		width: 70px;
		height: 70px;
		border-width: 1px;
	}

	.canvas__tetro {
		max-width: 70px;
		max-height: 70px;
	}

	.btn {
		font-size: 16px;
	}
}


