body {
	background-color: rgb(229, 218, 195);
	font-family: sans-serif;
}

.container {
	display: grid;
	gap: 50px;
	align-items: flex-start;
	grid-template-areas: 
	'game settings'
	'game next'
	'game score';
	width: 500px;
	margin: 0 auto;
}

.header__title {
	color: FireBrick;
	text-align: center;
	margin-bottom: 50px;
	font-weight: 900;
}

.header__title-online {
	color: Gold;
}

.game-area {
	position: relative;
	border:  2px solid black;
	display: block;
	background-color: rgba(222, 222, 222, 0.5);
	transition: opacity .1s linear;
	/* animation: blackout linear 3s infinite, twitch linear .1s infinite; */
}

.game-area.pause {
	opacity: 0.5;
}

.info__block {
	display: flex;
	max-width: 250px;
	flex-direction: column;
	gap: 15px;
	font-size: 18px;
	position: absolute;
	left: 10%;
}

.info__control, .info__game, .info__version {
	color: #302d2d;
	font-weight: 600;
	cursor: pointer;
}

.info__text_control, .info__text_game, .info__text_version {
	font-weight: 400;
	display: none;
	margin-bottom: 0;
	margin-left: 10px;
	font-size: 16px;
}

.info__text_control {
	
}

.info__text_game {
	line-height: 1.5;
}

.info__text_version {

}

.info__control.active .info__text_control {
	display: block;
}

.info__game.active .info__text_game {
	display: block;
}

.info__version.active .info__text_version {
	display: block;
}

.preview {
	text-align: center;
	border: 7px dashed #404040;
	font-size: 18px;
	text-align: center;
	padding: 30px;
	grid-column: 1 / 3;
}

.preview__title {
	text-align: center;
	margin-top: 0;
	color: #302d2d;
	font-size: 20px;
}

.preview__description {
	margin: 0 auto 20px;
	padding: 0;
}

.preview__rules {
	color: #302d2d;
	margin-bottom: 8px;
	font-size: 17px;
	list-style: none;
	text-align: start;
}

.preview__rules:last-child {
	margin-bottom: 0;
}

.preview__btn, .game__over-btn {
	padding: 10px 30px;
	border-radius: 10px;
	font-size: 18px;
	background-color: #ed9595;
	cursor: pointer;
	border: 1px solid #333;
	box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
	transition: background-color .1s linear;
}

.preview__btn:hover, .game__over-btn:hover {
	background-color: #dd7777;
}

.setting__block {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	grid-area: 'settings';
}

.setting__sound, .setting__music, .setting__pause {
	padding: 0;
	display: flex;
	border: none;
	color:  lightseagreen;
	background-color: transparent;
	cursor: pointer;
}

.setting__sound:hover, .setting__music:hover, .setting__pause:hover  {
	color:  rgb(27, 149, 143);
}

.game__over-mask {
	position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.game__over {
	width: 500px;
	padding: 20px;
	text-align: center;
  border-radius: 5px;
  background-color: rgb(229, 218, 195);
  margin: 0 auto;
	transform: translateY(100px);
}

.game__over-text {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
}

.game__over-result {
	font-size: 18px;
}

.game__over-btn {

}

@keyframes blackout {
	50% {
		background-color: rgba(158, 154, 154, 1);
	}
}

@keyframes twitch {
	50% {
		transform: translateX(10px);
	}
}